option_settings:

  # python specific settings
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: manage.py
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumProcesses
    value: 3
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumThreads
    value: 20

  # location of static assets
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: app/static/

  # environment variables
  - option_name: FLASK_CONFIG
    value: production
  - option_name: SECRET_KEY
    value: placeholder
  - option_name: MAIL_USERNAME
    value: salimhamed
  - option_name: MAIL_PASSWORD
    value: placeholder
  - option_name: DASHBOARD_ADMIN
    value: admin@insights.com
  - option_name: SSL_DISABLE
    value: True
