{% extends "bootstrap/base.html" %}


{% block title %}Insights{% endblock title %}


{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/morris.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
{% endblock head %}


{% block body %}
{% if current_user.is_authenticated() %}
<div id="wrapper">
{% endif %}
    {{ super() }}
{% if current_user.is_authenticated() %}
</div>
{% endif %}
{% endblock body %}


{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    {% block navbar_brand %}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Insights</a>
    </div>
    {% endblock navbar_brand %}

    {% block top_menu_items %}
    <ul class="nav navbar-right top-nav">

        {% block top_menu_items_messages %}
        {% if current_user.is_authenticated() %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"<strong>Iris Marlin</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>Billy Joe</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-footer">
                    <a href="#">Read All New Messages</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% endblock top_menu_items_messages %}

        {% block top_menu_items_alert %}
        {% if current_user.is_authenticated() %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">View All</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% endblock top_menu_items_alert %}

        {% block top_menu_items_account %}
        <li class="dropdown">
            {% if current_user.is_authenticated() %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ current_user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ url_for('main.user', username=current_user.username) }}"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.change_email_request') }}"><i class="fa fa-fw fa-gear"></i> Change Email</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.change_password') }}"><i class="fa fa-fw fa-gear"></i> Change Password</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ url_for('auth.logout') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
            {% else %}
            <a href="{{ url_for('auth.login') }}"><i class="fa fa-user"></i> Log In </a>
            {% endif %}
        </li>
        {% endblock top_menu_items_account %}

    </ul>
    {% endblock top_menu_items %}

    {% block sidebard_menu_items %}
    {% if current_user.is_authenticated() %}
    <!-- These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="/charts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="/tables"><i class="fa fa-fw fa-table"></i> Tables</a>
            </li>
            <li>
                <a href="/forms"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            <li>
                <a href="/elements"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="/grid"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/blank"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% endblock sidebard_menu_items %}

</nav>
{% endblock navbar %}


{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">

        {% block content_flash %}

            {% for message in get_flashed_messages(category_filter=["info"]) %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ message }}
            </div>
            {% endfor %}

            {% for message in get_flashed_messages(category_filter=["error"]) %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ message }}
            </div>
            {% endfor %}

            {% for message in get_flashed_messages(category_filter=["success"]) %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ message }}
            </div>
            {% endfor %}

        {% endblock content_flash %}

        {% block wrapper %}
        {% endblock wrapper %}

    </div>
</div>
{% endblock content %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='js/plugins/morris/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/morris/morris.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/morris/morris-data.js') }}"></script>
{% endblock scripts %}
