{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Insights - {{ title }}{% endblock %}

{% block wrapper %}

    <!-- page header -->
    <div class="page-header">
        <h1>{{ title }}{% if filter_user %} <small>Owned By {{ user.username }}</small>{% endif %}</h1>
    </div>
    <!-- end page header -->

    <!-- table list -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if type_code == 'vc' %}
                        <i class="fa fa-university fa-lg"></i>
                    {% elif type_code == 'ai' %}
                        <i class="fa fa-rocket fa-lg"></i>
                    {% elif type_code == 'su' %}
                        <i class="fa fa-building-o fa-lg"></i>
                    {% endif %}
                    {{ title }}
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li{% if filter_user %} class="active"{% endif %}><a href="{{ url_for('main.firms', username = user.username, firm_type_code = type_code) }}">Owned By {{ user.username }}</a></li>
                        <li{% if not filter_user %} class="active"{% endif %}><a href="{{ url_for('main.firms', username = user.username, firm_type_code = type_code, filter_user = 0) }}">All {{ title }}</a></li>
                    </ul>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Tier</th>
                                    <th>Owner</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for firm in firms %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    <a href="{{ url_for('main.firm', id=firm.id) }}">
                                        {{ firm.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ firm.type }}
                                </td>
                                <td>
                                    {{ firm.tier }}
                                </td>
                                <td>
                                    <a href="{{ url_for('main.user', username = firm.owner.username) }}">
                                        {{ firm.owner.username }}
                                    </a>
                                </td>
                                <td>
                                    {{ firm.city }}
                                </td>
                                <td>
                                    {{ firm.state }}
                                </td>
                                <td>
                                    {{ firm.country }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- end table list -->

{% endblock wrapper %}
