{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block wrapper %}

    <! -- page header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Insights <small>Statistics Overview</small>
            </h1>
        </div>
    </div>
    <! -- end page header -->

    <! -- submit posts -->
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o fa-fw"></i> Submit a Blog Post</h3>
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <! -- end submit posts -->

    <! -- blog posts -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Recent Blog Posts</h3>
                </div>
                {% include '_posts.html' %}
                {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, 'main.index') }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <! -- end blog posts -->

{% endblock %}
