{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block wrapper %}

    <!-- relationship summary header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Relationship Summary
            </h1>
        </div>
    </div>
    <!-- end relationship summary header -->

    <!-- relationship summary componets -->
    <div class="row">

        <!-- details column -->
        <div class="col-lg-4">

            <!-- vc firm details -->
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-university fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="panel-data">26</div>
                            <div>Venture Capital Firms</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <!-- end vc firm details -->

            <!-- ai firm details -->
            <div class="panel panel-grey">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-rocket fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="panel-data">26</div>
                            <div>Accelerators and Incubators</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <!-- end ai firm details -->

            <!-- startup org firm details -->
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building-o fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="panel-data">26</div>
                            <div>Startup Organizations</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <!-- end startup org firm details -->

        </div>
        <!-- end details column -->

        <!-- firm summary bar chart -->
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Relationship Summary by Tier
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="firm-bar-chart"></div>
                </div>
            </div>
        </div>
        <!-- end firm summary bar chart -->

    </div>
    <!-- end relationship summary componets -->




    <!-- penetration summary header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Penetration Summary
            </h1>
        </div>
    </div>
    <!-- end penetration summary header -->

    <!-- penetration summary componets -->
    <div class="row">

        <!-- vc penetration donut chart -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-university fa-fw"></i> M+ Venture Captial Penetration
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="vc-penetration-donut"></div>
                </div>
            </div>
        </div>
        <!-- end vc penetration donut chart -->

        <!-- ai penetration donut chart -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-rocket fa-fw"></i> 12-Month A&amp;I Penetration
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="ai-penetration-donut"></div>
                </div>
            </div>
        </div>
        <!-- end ai penetration donut chart -->

        <!-- overall penetration donut chart -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-pie-chart fa-fw"></i> Overall Penetration
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="overall-penetration-donut"></div>
                </div>
            </div>
        </div>
        <!-- end overall penetration donut chart -->

    </div>
    <!-- end relationship summary componets -->





    <!-- top firms header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Top Firms by Charges
            </h1>
        </div>
    </div>
    <!-- end top firms header -->

    <!-- top vc firms table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-university fa-fw"></i> Top Venture Capital Firms
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    <button type="button" class="btn btn-default btn-lg btn-block">View All Venture Capital Firms</button>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- end top vc firms table -->

    <!-- top ai firms table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-rocket fa-fw"></i> Top Accelerator and Incubator Firms
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    <button type="button" class="btn btn-default btn-lg btn-block">View All Accelerator and Incubator Firms</button>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- end top ai firms table -->




    <!-- blog posts summary header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Blog Posts
            </h1>
        </div>
    </div>
    <!-- end blog posts summary header -->

    <! -- submit posts -->
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o fa-fw"></i> Submit a Blog Post</h3>
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <! -- end submit posts -->

    <! -- blog posts -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Recent Blog Posts</h3>
                </div>
                {% include '_posts.html' %}
                {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, 'main.index') }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <! -- end blog posts -->

{% endblock %}


{% block scripts %}
{{ super() }}

<!-- Morris Chart Data -->
<script src="{{ url_for('static', filename='sb-admin-2/bower_components/raphael/raphael-min.js') }}"></script>
<script src="{{ url_for('static', filename='sb-admin-2/bower_components/morrisjs/morris.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/morris-data-index.js') }}"></script>

{% endblock scripts %}
