{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Insights - {{ user.username }}{% endblock %}

{% block wrapper %}

<!-- penetration summary header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{ user.username }}
        </h1>
    </div>
</div>

<!-- end penetration summary header -->
<div class="row">
    <div class="col-lg-12">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <!-- only create <p> element with name and location are set -->
            {% if user.name or user.location %}
            <p>
                {% if user.name %}{{ user.name }}{% endif %}
                {% if user.location %}
                    From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
                {% endif %}
            </p>
            {% endif %}

            <!-- only show email when user is an admin -->
            {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}

            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

            <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>

            {% if vc_firms %}
            <p>Owner of {{ vc_firms|length }} <a href="#bm_vc">Venture Capital Firms</a>.</p>
            {% endif %}

            {% if ai_firms %}
            <p>Owner of {{ ai_firms|length }} <a href="#bm_ai">Accelerators and Incubators.</a></p>
            {% endif %}

            {% if su_firms %}
            <p>Owner of {{ su_firms|length }} <a href="#bm_su">Startup Organizations.</a></p>
            {% endif %}

            <p>
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
                    {% else %}
                    <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-default">Unfollow</a>
                    {% endif %}
                {% endif %}
                <a href="{{ url_for('main.followers', username=user.username) }}">Followers:</a> <span class="badge">{{ user.followers.count() }}</span>
                | <a href="{{ url_for('main.followed_by', username=user.username) }}">Following:</a> <span class="badge">{{ user.followed.count() }}</span>
                {% if current_user.is_authenticated() and user != current_user and user.is_following(current_user) %}
                | <span class="label label-default">Follows you</span>
                {% endif %}
            </p>

            <!-- only show edit button if user if viewing their own profile -->
            {% if user == current_user %}
            <p>
                <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
            </p>
            {% endif %}

            <!-- admins see edit buttons on all profiles -->
            {% if current_user.is_administrator() %}
            <p>
                <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>


<!-- penetration summary header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Penetration Summary
        </h1>
    </div>
</div>
<!-- end penetration summary header -->

<!-- penetration summary componets -->
<div class="row">

    <!-- vc penetration donut chart -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-university fa-fw"></i> M+ Venture Captial Penetration
            </div>
            <div class="panel-body">
                <div class="morris-charts" id="vc-penetration-donut"></div>
            </div>
        </div>
    </div>
    <!-- end vc penetration donut chart -->

    <!-- ai penetration donut chart -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-rocket fa-fw"></i> 12-Month A&amp;I Penetration
            </div>
            <div class="panel-body">
                <div class="morris-charts" id="ai-penetration-donut"></div>
            </div>
        </div>
    </div>
    <!-- end ai penetration donut chart -->

    <!-- overall penetration donut chart -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-pie-chart fa-fw"></i> Overall Penetration
            </div>
            <div class="panel-body">
                <div class="morris-charts" id="overall-penetration-donut"></div>
            </div>
        </div>
    </div>
    <!-- end overall penetration donut chart -->

</div>
<!-- end relationship summary componets -->


<!-- relationship summary header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Relationships
        </h1>
    </div>
</div>
<!-- end relationship summary header -->

<! -- relationships -->
{{ macros.firm_list(vc_firms, 'vc', 'Venture Capital Firms', 'fa-university') }}
{{ macros.firm_list(ai_firms, 'ai', 'Acclerators and Incubators', 'fa-rocket') }}
{{ macros.firm_list(su_firms, 'su', 'Startup Organizations', 'fa-building-o') }}
<! -- end relationships -->

{% endblock wrapper %}


{% block scripts %}
{{ super() }}

<!-- Morris Chart Data -->
<script src="{{ url_for('static', filename='sb-admin-2/bower_components/raphael/raphael-min.js') }}"></script>
<script src="{{ url_for('static', filename='sb-admin-2/bower_components/morrisjs/morris.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/morris-data-user.js') }}"></script>

{% endblock scripts %}
